site-title h1 {
    color: var(--color-theme);
    font-size: 1.5rem;
    margin: 0;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-medium);
  }
  
  .site-title nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .site-title .breadcrumb {
    list-style: none;
    margin: 0;
  }
  
  .site-title .breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  .site-title .breadcrumb li + li:before {
    padding: 0 0.7rem 0 1rem;
    color: var(--color-white);
    content: "/ ";
  }
  
  .site-title .breadcrumb li a {
    color: var(--color-theme);
    text-decoration: none;
  }
  
  .site-title .breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }