.top-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;
  }
  
  .top-menu > .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .top-menu .site-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .top-menu .site-settings .dropdown-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
  }
  
  .top-menu .dropdown-theme button {
    background-color: var(--color-theme);
    color: var(--color-white);
    border: none;
    padding: 0;
  }
  
  .top-menu .site-settings .dropdown-theme button:hover {
    color: var(--color-theme-dark);
  }
  
  .top-menu .site-settings .dropdown-theme .dropdown-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    border: none;
    width: 250px;
    margin-top: 3rem;
  }
  
  .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item {
    background-color: var(--color-theme-);
    color: var(--color-white);
    border: none;
    width: 100%;
    margin: 0;
  }
  
  .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item:hover {
    background-color: var(--color-theme-dark);
    color: var(--color-white);
  }
  
  .top-menu .menu-links a {
    color: var(--color-white);
    text-decoration: none;
    margin: 0 1.2rem;
  }
  
  .top-menu .menu-links a:hover {
    color: var(--color-theme-dark);
  }
  
  .top-menu .menu-links .social-media {
    margin-left: 1rem;
    font-size: var(--font-size-14);
  }
  
  .top-menu .menu-links .social-media a {
    margin: 0 0.3rem;
  }
  
  .top-menu .menu-links .social-media a:last-child {
    margin-left: 0 0 0 0.3rem;
  }
  